.body{
    background-color: rgba(0, 0, 0, 0.288);
    height: 100%;
    margin: 0;
  }
.samuel{
color: white;
}
  .card {
      background-color: #07c7f7a2;
      border: 1px solid #e0e0e0;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 300px;
      transition: transform 0.2s;
      text-align: center;
  
    }
  
    .tecnologias-lista {
      font-family: 'Arial', sans-serif;  
      font-size: 18px;  
      color: #333; 
      line-height: 1.6; 
      list-style-type: none;  
      padding-left: 0; 
  }
  
  .tecnologias-lista li {
    margin-bottom: 10px;
    padding: 5px;
    border-left: 4px solid #007bff;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease, border-radius 0.3s ease; 
    border-radius: 5px; 
  }
  
  .tecnologias-lista li:hover {
    background-color: #e2e6ea;
    border-radius: 80px;
  }
  
  
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      
      flex-direction: column;
      height: 100%;
    }
    
    .card:hover {
      transform: scale(1.05);
    }
    .text-center {
    text-align: center;
  }
  
  .boton {
      background-color: rgba(20, 7, 120, 0.6);
      border-radius: 15px;
      color: white;
  }
  .footer {
    margin-top: auto; 
    background-color: #f8f9fa46;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 1000px;
  }