body {
  background-image: url('/imgen.jpg');
  background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
}